<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="../css/pro.css">
</head>
<body>
    <div class="row">
    	<div class="col-1">
    		<div  class="img">
    		<img src="../images/icon4.png" width="40px" class="logo">
    		</div>
    	</div>
    	<div class="col-2">
    		<h1 class="dash">Docmed</h1>
    	</div>
    	<div class="col-6">
    		<ul class="nav">
    			<li><a href="index.html" class="ree">Home</a></li>
    			<li><a href="#" class="ree">Department</a></a="li>
    			<li><a href="#" class="ree">Blog</a><li>
    			<li><a href="#" class="ree">Pages</a></li>
    			<li><a href="doctors.html" class="ree">Doctors</a></li>
    			<li><a href="contact.html" class="ree">Contact</a></li>
    		</ul>
    	</div>
    	<div class="col-2">
    		<p class="nev">Make an Appointment</p>
    	</div>
    	<div class="col-1"></div>
    </div>
</div>
    <div class="row container" >
    	<div class="col-8">
    		<form>
    		<div>
    		<input type="name" name="" placeholder="Name" size="120px" class="form-x">
    	</div>
    	<div>
    		<input type="name" name="" placeholder="Enter your name" size="50%" class="form-y">
    		<input type="email" name="" placeholder="Email" size="51%" class="form-w">
    	</div>
    	<div>
    		<input type="text" name="" placeholder="Enter subject" size="114px" class="form-y">
    	</div>
    	<div>
    		<input type="text" name="" value="SEND" class="form-u" size="15px">
    	</div>
    	</form>
    </div>
      <div class="col-4">
	      	<div style="display: flex;">
	    		<img src="../images/icon1.png" width="70px" class="out">
	    		<div style="font-size: 2rem;">
		    		<p class="our"><strong>Buttonwood, California.</strong></p>
		    		<p class="oops">Rosemead, CA91770</p>
		    	</div>
	    	</div>
    	   <div style="display: flex;">
    		    <img src="../images/icon2.png" width="70px" class="out">
    		    <div style="font-size: 2rem;">
    		        <p class="our"><strong>+1 253 565 2365</strong></p>
    		        <p class="oops">Mon to Fri 9am to 6pm</p>
    		</div>
    	</div>
    		<div style="display: flex;">
    		    <img src="../images/icon3.png" width="70px" class="out">
    		    <div style="font-size: 2rem;">
    		        <p class="our"><strong>Support@ colorlib.com</strong></p>
    		        <p class="oops">Send us your query</p>
    		        <p class="oops">anytime</p>
    		</div>
    	</div>
    	</div>
    </div>
    	 <div class="row mee">
          <div class="col-1 nee">
            <div  class="img">
            <img src="../images/icon4.png" width="50px" class="logo">
            </div>
        </div>
        <div class="col-4 nee">
            <h1 class="dash">Docmed</h1>
            <p class="karh">Firmament morning sixth subdue darkness</p>
            <p class="kar">creeping gathered divide</p>
            <div class="bal">
                <img src="../images/icon5.png" width="50px" class="yog">
                <img src="../images/icon6.png" width="50px" class="yog">
                <img src="../images/icon7.png" width="52px" class="yog">
            </div>
        </div>
            <div class="col-2">
                <h1>Departments</h1>
                <ul class="cali">
                    <li><a href="#">Eye Care</a></li>
                    <li><a href="#">Skin Care</a></li>
                    <li><a href="#">Pathology</a></li>
                    <li><a href="#">Medicine</a></li>
                    <li><a href="#">Dental</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h1>Useful Links</h1>
                  <ul class="cali">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#">Appointment</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h1>Address</h1>
                <p>200, D-block, Green lane USA</p>
                <p>+10 367 467 8934</p>
                <p>docmed@contact.com</p>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row bee">
            <div class="col-12"><p class="fea">Copyright &copy; 2024 All rights reserved | This template is made with Colorlib</p></div>
        </div>
</body>
</html>